body {
  font-family: 'Kalam', cursive;
  background: #333;
}

header {
  padding: 20px;
  /* las propiedades de Flexbox acá */
}

img { width: 363px; }
a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 15px;
}
a:hover, a:active { color: #f04500; }

.box {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-basis: 10em;
  flex-basis: 3px;
  flex-basis: auto;
  align-items: center;
  overflow-wrap: nowrap;

  /* Palabras clave de dimensionamiento intrínseco */
  flex-basis: fill;
}

.flexbox-item-1 {

}
.flexbox-item-2 {

}
.flexbox-item-3 {

}
.flexbox-space {
  flex-grow: 1;
}
